

.centerXY {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 55%;
	width: 200px;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		135deg, #b4bfec 52%,#eeabb9 100%);
}

.add-box-background {
	background-color: #fbd6b1;
	border-radius: 10px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .2), 0 3px 7px rgba(0, 0, 0, .2);
}


.add-title {
	text-align: center;
	margin: 10px 0 25px 0;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow: rgb(79, 63, 221) 0px 5px 15px;
	color: red;
	
}
.content {
	position: relative;
	height: 100vh;
	flex: 1;
	background-color: #EEEEEE 
	
}

